Repository RelationalAI/julia, pull requests merged in 2024-04, with the labels that each got.

#142 Correct GC bug (usage of `not_freed_enough`)
  src/gc.c
Labels: port-to-v1.10, port-to-master, port-to-v1.9

#143 Correct GC bug (usage of `not_freed_enough`)
  src/gc.c
Labels: port-to-v1.10, port-to-master, port-to-v1.9

#148 RAI: do not prepend thread ID to backtraces from signal handler context
  src/signals-unix.c
  src/stackwalk.c
Labels: port-to-v1.10, port-to-master

#147 function to query page size
  src/gc-pages.c
  test/gc.jl
Labels: port-to-v1.10

#150 RAI: Change optimization aggressiveness for `-O1` from `None` to `Less`
  src/jitlayers.cpp
Labels: port-to-v1.10, port-to-master
